body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
  }
  .navbar {
   height: 100px;
   width: auto;
  }
  #logo {
  height: 130px;
  width: 200px;
  
  }
  header {
    background-color: #007bff ;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  form input, form select, form button {
    margin: 5px;
    padding: 8px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  li.income {
    background-color: #e9f5e9;
    color: #2ecc71;
  }
  
  li.expense {
    background-color: #f8eaea;
    color: #e74c3c;
  }
  
  li button {
    margin-left: 10px;
    background: none;
    border: none;
    color: #e74c3c;
    cursor: pointer;
  }
  